  @import url("fondo.css");

body{
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0;
    color: black;
}

.principal{
    justify-items: center;
    margin: 0;
}

.menu-btn{
    display: none;
}
 /* personalizar el menu */

header{
    background-color: white;
    display: flex;
    width: 100%;
    gap: 100px;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
}

h1{
    padding: 0px 50px;
}

.menu, .btn{
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding: 0px 20px;
}

.menud{
    text-decoration: none;
    color: black;
    transition: 0.8s;
}

.menud:hover{
    font-size: 20px;
    color: green;
}

/* cuerpo de la pagina */

main{
    border: solid black 1px;
    justify-items: center;
    margin: 0px ;
}

hr{
    background-color: #050505;
    border: 2px solid black;
}
/* personalizar primera vista */

.primeraVista{
    align-items: center;
    justify-content: center;
    background-color: #050505;
    background-image: var(--fondo-negro);
    padding: 5cm;
}

.primeraVista-1{
    display: flex; 
    align-items: center;
    justify-content: center;
}

.titulo{
    text-align: start;
    margin: 5px 0px 1px 50px;
    padding: 2px;
}

.titulo-empresa{ 
    font-size: 60px;
    margin: 0px;
    margin-bottom: 10px;
    max-width: 600px;
    color: #f301df;
    
}

.seudonimo{
    font-size: 35px;
    color: #4baad5;
    margin: 0px;
    margin-bottom: 10px;
}

#textotitulo{
    margin: 20px;
    text-align: center;
    font-size: 60px;
    color: white;
}

.logoprincipal{
    width: 500px;
    height: 500px;
}

.imglogoprincipal{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* seccion de personalizacion */

.personalizacion{
    background-color: #fcfafe;
    background-image: var(--fondo-blanco);
    display: flex;
    justify-content: center;
    gap: 5cm;
    padding: 200px 5px;
    color: black;
}

.titulo-pers{
    font-size: 90px;
    text-align: center;
    display: inline-flex;
    align-items: center;
}

.perzonalizar{
    border: solid black 1px;
    border-radius: 50px;
    background-color: rgba(45, 93, 116, 0.4);
    padding: 30px;
    justify-items: center;
    gap: 5cm;
}

.hrPersonalizar{
    border: solid black 1px;
}

/* caracteristicas */

    /* botones */

    .botones{
        display: flex;
        justify-content: center;
    }

    .btnc,.btnf,.btne{  
        width: 180px;
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        padding: 10px 30px;
        font-weight: 400;   
        font-size: 1rem;
        border-radius: 30px;
        border: 1px solid;
    }

    .btnc, .btnf:hover{
        border-color: black;
        color: black;
        background-color: rgba(69, 201, 91, 0.75);
        transition: background-color 0.4s;
    }

    .btnc:hover, .btnf{
        border-color: black;
        color: black;
        background-color: rgba(177, 187, 190, 0.75);
        transition: background-color 0.4s;
    }

    .btn-aceptar{
        display: flex;
        justify-content: center;
    }

    /* opciones */

    label{
        display: block;
        padding: 0px;
        margin: 0px;
    }

    h4{
        font-size: 25px;
        text-align: center;
        margin: 10px;
    }

    #contenedor{
        margin: 60px 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 30px;
        align-items: top;
        justify-items: center;
    }
    .colores{
        display: flex;
        margin: 0px;
        padding: 0 0 10px 0;
        margin: 1px;
    }

    .cuadroc{
        width: 30px;
        height: 30px;
        border: black solid 1px;
        border-radius: 10px;
    }

    .color1{
        background-color: #686c6f;
    }

    .color2{
        background-color: #68000d;
    }

    .color3{
        background-color: black;
    }

    .color4{
        background-color: wheat;
    }

    .color5{
        background-color: blue;
    }

    .color6{
        background-color: red;
    }


/* seccion de informacion caja */

.informacioncaja {
    height: 1000px;
    background-color: #050505;
    background-image: var(--fondo-negro);
    align-items: center;
    color: white;
    margin: 0px;
    display: grid;
    grid-template-columns: auto auto;
}

.descripcion{
    justify-content: left;
    margin: 0px 10px 10px;
    padding: 0px 0px 0px 60px;
}

.tituloDs{
    font-size: 100px;
    margin: 0px;
}

.infoDS{
    max-width: 700px;
    font-size: 20px;
    padding: 0px 0px 0px 60px;
}

.infodescrip{
    padding-left: 80px;
    text-align: justify;
}

/* vista de la caja fuerte */

.representacion{
    margin-right: 200px;
}

#espacio-3D{
    width: 300px;
    height: 300px;
    margin: 3em auto 0 auto;
    /* border: 1px solid rgba(0, 255, 0, 0.5); */
    position: relative;
    perspective-origin: center -50%;
    perspective: 500px;
    transform: scale(0.75);}

#cubo-3D{
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ(-150px);
    animation-name: gira;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
}

.base{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.15);
    transform: translateX(75px) translateY(75px) rotateX(90deg) translateZ(-200px);
    box-shadow: 0 0 50px 100px rgba(0, 0, 0, 0.15);
}

.caja{
    position: absolute;
    width: 298px;
    height: 298px;
    border: 1px solid rgba(255, 150, 0, 0.75);
    color: blue;
    font-size: 3em;
    text-align: center;
    line-height: 298px;
    box-shadow: 0px 0px 5px rgba(255,150, 0, 0.75); 
}

.puerta{
    transform: translateZ(150px);
}

.cara-2{
    transform: rotateY(180deg) translateZ(150px);
}

.cara-3{
    transform: rotateY(-90deg) translateZ(150px);
}

.cara-4{
    transform: rotateY(90deg) translateZ(150px);
}

.cara-5{
    transform: rotateX(-90deg) translateZ(150px);
}

.cara-6{
    transform: rotateX(90deg) translateZ(150px);
}

@keyframes gira{
    0%{
        transform: translateZ(-150px) rotateY(0deg);
    }
    100%{
        transform: translateZ(-150px) rotateY(360deg);
    }
}

/* ------Footer------ */
footer{
    margin: 0px;
    padding: 10px;
}

.copyDESAS{
    text-align: center;
    font-size: 20px;
    margin: 0px;
    padding: 10px;
}

@media (max-width: 1240px) {
    .personalizacion{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;
        justify-items: center;
        padding: 20px 10px;
    }

    .titulo-pers{
        justify-content: center;
        margin: 30px;        
    }

    .perzonalizar{
        width: 490px;
    }


}

@media (max-width: 954px) {
    header{
        display: block;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color:white;
        height: 100%;
        width: 40%;
        border: 1px solid black;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;        
    }

    .menu{
        margin: 0;
        display: grid;
        row-gap: 25px;
    }

    .menu-btn{
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        background-color: white;
        border: none;
    }

    .header{
        transform: translateX(0px);
    }

    .primeraVista{
        padding: 50px 0px;
    }

    .primeraVista-1{
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr ;
        row-gap: 4px;
    }

    .titulo , .titulo-empresa{
        display: inline-block;
        text-align: center;
        margin-left: 0px;
    }

    .logoprincipal{
        width: 500px;
        height: 300px;
    }

    .logoimg{
        display: flex;
        justify-content: center;
    }

    .informacioncaja{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .descripcion{
        padding: 0;
    }

    .tituloDs{
        font-size: 70px;
        text-align: center;
    }

    .infodescrip{
        padding: 0px 60px 0px 60px;
    }

    .representacion{
        margin-right: 0px;
    }
}

@media (max-width: 560px){

    header{
        width: 80%;       
        transform: translateX(-500px);
    }

    .titulo-empresa{
        font-size: 40px;
        text-align: center;
    }

    .logoprincipal{
        width: 100%;
        height: 100px;
    }

    #textotitulo {
        font-size: 30px;
    }

    .infoDS{
        font-size: 15px;
    }

    .titulo-pers , .tituloDs{
        font-size: 40px;
    }

    .perzonalizar{
        width: 80%;
        justify-items: center;
        padding: 10px;
    }

    .btn{
        display: grid;
        grid-template-columns: 1fr;
    }

    form{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    #contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
        margin: 10px 10px;
        justify-items: start;
        width: 200px;
        gap: 2px;
    }

    h4{
        font-size: 20px;
        text-align: left;
    }

    .informacioncaja{
        row-gap: 1px;
    }

    .copyDESAS{
        font-size: 10px;
    }
}