body{
    background-color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.principal{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    justify-items: center;
}
 /* personalizar el menu */

header{
    background-color: whitesmoke;
    display: flex;
    gap: 100px;
    align-items: center;
    text-align: center;
    max-width: 1000px;
}

h1{
    padding: 0px 50px;
}

.menu{
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding: 0px 20px;
}

/* personalizar primera vista */

main{
    border: solid black 1px;
}

.primeraVista{
    display: flex;
    margin: 50px 10px;
}

.titulo{
    text-align: start;
    margin: 5px 0px 1px 50px;
}

h2{ 
    font-size: 40px;
}